<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>UserManagement</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.xhtml</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.xhtml</welcome-file>
	</welcome-file-list>
	
	<!-- Main Servlet -->
	<servlet>
		<servlet-name>mainServlet</servlet-name>
		<servlet-class>servlet.MainServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mainServlet</servlet-name>
		<url-pattern>/signin</url-pattern>
	</servlet-mapping>
	
	
	<!-- Signup Servlet -->
	<servlet>
		<servlet-name>signupServlet</servlet-name>
		<servlet-class>servlet.SignupServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>signupServlet</servlet-name>
		<url-pattern>/Signup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>signupServlet</servlet-name>
		<url-pattern>/signupUser</url-pattern>
	</servlet-mapping>
	
</web-app>
